.Containerrr {
    display: grid;
    align-items: center;
    grid-template-columns: 5% 95%;
    background-color: #080420;
    padding: 0 2rem;
}

@media screen and (min-width: 720px) and (max-width: 1080px) {
    .Containerrr {
        padding: 0 1rem;
        gap: 1rem;
    }
}

.button-container {
    display: flex;
    align-items: center;
    color: white;
    gap: 1rem;
}

.emoji {
    position: relative;
}

.emoji svg {
    font-size: 1.5rem;
    color: #ffff00c8;
    cursor: pointer;
}

aside.EmojiPickerReact.epr-main {
    position: absolute;
    top: -460px;
    background-color: #080420;
    box-shadow: 0 5px 10px #9a86f3;
    border-color: #9a86f3;
}

.EmojiPickerReact .epr-body::-webkit-scrollbar {
    background-color: #080420;
    width: 5px;
}

.EmojiPickerReact .epr-body::-webkit-scrollbar-thumb {
    background-color: #9a86f3;
}

.EmojiPickerReact li.epr-emoji-category>.epr-emoji-category-label {
    background-color: #080420;
}

.EmojiPickerReact .epr-search-container input.epr-search {
    background-color: transparent;
    border-color: #9a86f3;
}
.input-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5%;
    padding: 25px 20px;
    margin: -19px 0px;
    border-radius: 2rem;
    align-items: center;
    gap: 2rem;
    background-color: #ffffff34;
}

input {
    width: 90%;
    height: 60%;
    background-color: transparent;
    color: white;
    border: none;
    padding-left: 1rem;
    font-size: 1.2rem;
}

input::selection {
    background-color: #9a86f3;
}

input::selection:focus {
    outline: none;
}

button {
    padding: 0.3rem 2rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9a86f3;
    border: none;
}

@media screen and (min-width: 720px) and (max-width: 1080px) {
    .input-container button {
        padding: 0.3rem 1rem;
    }

    .input-container button svg {
        font-size: 1rem;
    }
}

button svg {
    font-size: 2rem;
    color: white;
}